nav.container {
    display: flex;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);

    div.left {
        flex-wrap: wrap;
        height: 75px;
        img {
            object-fit: cover;
            height: 75px;
        }
    }

    div.middle {
        flex: 3;
        display: flex;
        margin: 0 2vw;
        div.item_middlemenu{
            flex: 1;
            text-align: center;
            margin: auto 0;
            
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }

    div.right {
        flex: auto;
        display: flex;
        justify-content: right;
        align-items: center;
        text-align: center;
        margin: 0 2vw;
    
        div.account {
            margin: auto 2vw auto 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                color: #000;
            }
        }
        
        button.logout_button a, button.login_button a {
            color: #fff;
            margin: 0 0 0 auto;
        }

        
    }

}