div.container {
    width: auto;
    height: auto;
    margin: auto;
    padding: 5vh 5vw;
    background-color: rgba(210, 210, 210, 0.13);

    h1 {

    }

    div.container_inputs {
        margin-bottom: 5vh;

        div.input_mail {
            margin-bottom: 2vh;
        }

        div.input_password {
            margin-bottom: 2vh;
            
        }

        div.button {

        }

    }

}