.container {
  padding: 4vh;
  height: 100%;
  // background-color: #F9FBFA;

  .filters {
    display: flex;
    justify-content: left;
    margin: 30px 0 50px 0;
  }

  .list_results {

    .no_result {
      cursor: pointer;
      width: 50%;
      background-color: #fff;
      border-radius: 24px;
      padding: 24px;
      text-align: left;
      margin: 0 0 40px 0;
    }
    
    .item_result{
      cursor: pointer;
      width: 50%;
      background-color: #fff;
      border-radius: 24px;
      padding: 24px;
      text-align: left;
      margin: 0 0 40px 0;

      .item_title {
        font-size: large;
        font-weight: bold;
        color: #000;
        margin-bottom: 20px;
      }

      .item_preview {
        margin-bottom: 20px;
        color: #000;

      }
      
      .item_type {
        color: rgb(138, 138, 138);

      }

  
    }
    .item_result:hover {
      transform: scale(105%);
    }
  }

}