.container {

    padding: 50px;
    
    .firstline {
        display: flex;

        .left {
            flex: 5;

            .artcat {
                >div {
                    border-top: 2px solid black;

                }
                >div:last-child {
                    border-bottom: 2px solid black;

                }

            }

        }
        
        .right {
            flex: 2;

        }
        
    }

    /*.secondline {
        margin: 150px 0;
        background-color: #f2f2f2;
        width: calc((5/7)*100vw - 60px);
    }*/
}