.container {
    height: 100%;

    .wrapper_main_homepage {
        width: 960px;
        min-height: 100%;
        background-color: white;
        margin: 2rem auto 0;
        padding: 20px;

        > {
            border-top: 5px solid rgba(0, 0, 0, 0.259);
        }

        .artcat {

            .left {
                flex : 5;
                /*>div {
                    border-top: 2px solid rgba(0, 0, 0, 0.271);
    
                }*/
                >div {
                    border-bottom: 2px solid rgba(0, 0, 0, 0.271);
    
                }

            }
            .right {
                flex: 2;
            }

        }

    }

    @media (max-width: 860px) {
        .wrapper_main_homepage {
            width: 90vw;

            .artcat {
                display: block;
            }
        }
        .firstline {
            display: block;
        }
    }
    
    @media (min-width: 860px) {
        .wrapper_main_homepage {
            width: 90vw;
            .artcat {
                display: flex;
            }
        }
        .firstline {
            display: flex;
            padding-bottom: 45px;
            >:nth-child(1) {
                flex: 5;   
            }
            
            >:nth-child(2) {
                flex: 2;
    
            }
        }
    }
            
    @media (min-width: 1000px) {
        .wrapper_main_homepage {
            width: 960px;
            .artcat {
                display: flex;
            }
        }
        .firstline {
            display: flex;
            padding-bottom: 45px;
            >:nth-child(1) {
                flex: 5;   
            }
            
            >:nth-child(2) {
                flex: 2;
    
            }
        }
    }


    
    /*.firstline {
        display: flex;

        .left {
            flex: 5;

            .artcat {
                >div {
                    border-top: 2px solid black;

                }
                >div:last-child {
                    border-bottom: 2px solid black;

                }

            }

        }
        
        .right {
            flex: 2;

        }
        
    }*/

    /*.secondline {
        margin: 150px 0;
        background-color: #f2f2f2;
        width: calc((5/7)*100vw - 60px);
    }*/
}