.container {

    .dialogToDelete {
      padding: 50px;
      /*/.confirm_buttons {
        margin: 20px 0 0 auto;
      }*/
    }
    
    .pagination {
      margin: 45px auto;
      width: 50%;
    }
  
}