.container {
    width: 100%;
    color: #fff;
    margin-bottom: 75px;


    h2 {
        color: #000;
    }
    .wrapper {
        background-color: #0B2F83;
        padding: 20px;
        .title {
            font-size: 80px;
            margin-bottom: 50px;
        }
        .preview {
            font-weight: 100;
            margin-bottom: 50px;

        }
        .more {
            display: flex;
            flex-direction: row-reverse;
            a{
            color: #ffffff6e;
            text-decoration: none;

            }
        }
    }
}