.container {
  padding: 3vh 3vw;

  .rubrique {
    margin: 0 auto 50px 0;
    
    .article {
      display: flex;
      padding: 20px;
      color: #000;
      text-decoration: none;
      justify-content: space-between;

      >div:nth-child(1){
        margin-right: 10px;
      }

      .title {

      }

      .infos {
        font-size: smaller;
        color: #00000051;
      }
    }

    /*.article:nth-child(even) {
      background-color: rgb(245, 245, 245);
    }*/
    .article:nth-child(even) {
      background-color: rgb(255, 255, 255);
    }
    .article:hover {
      box-shadow: 2px 0 0 rgba(0, 0, 0, 0.372), -2px 0 0 rgba(0, 0, 0, 0.372);
    }

    @media (max-width: 700px){
      width: 90%;

    }

    @media (min-width: 700px){
      width: 70%;

    }

    @media (min-width: 1000px){
      width: 50%;
    }
  }

  .pagination {
    margin: 45px auto;
    width: 50%;
  }
}