div.container {
    overflow-x: hidden;
    width: auto;
    height: auto;
    margin: auto;
    padding: 5vh 4.5vw;
    background-color: rgba(210, 210, 210, 0.13);
    text-align: center;

    h1 {

    }

    div.container_inputs {
        margin-bottom: 5vh;

        div.input_event_type, div.input_title, .input_description, .input_dates, .tag_users , .input_dates_re{
            margin-bottom: 2vh;
        }

        .input_dates_re {
            display: flex;
            justify-content: space-between;
            >div {
                width: 49%;
            }
        }

        .input_dates_tt {
            .firstLine {
                display: flex;
                justify-content: space-between;
                width: 100%;
                >div {
                }
            }

            .secondLine {
                margin: 20px 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
        
        div.input_title, div.input_description, .input_event_type {
            >div {
                width: 100%;
            }
        }

    }
    .tag_users {
        .user_tagged_container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            > button {
                margin: 10px 10px 10px 0;
            }

        }
    }

}