.event_case {
    cursor: pointer;
}

.fc-header-toolbar.fc-toolbar > div:nth-child(1) button {
    margin: 10px
}

/* media */
.fc-header-toolbar.fc-toolbar > div:nth-child(1) > div {
    margin: 10px
}

.fc-header-toolbar.fc-toolbar > div:nth-child(3) > div {
    margin: 10px
}

.fc-header-toolbar.fc-toolbar > div:nth-child(3) > button {
    margin: 10px
}