.container {
  width: 100%;
  //margin: 50px;

  .title {
    text-align: left;
  }

  .stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .stat_item {
      text-align: center;

      .item_number {
        font-weight: bold;
      }

      .more {
        text-align: right;
        a {
          color: rgba(0, 0, 0, 0.223);
          text-decoration: none;
        }
      }
    }

  }

  @media (max-width: 400px){
    .title {
      font-size: 20px;
      padding-top: 50px;
      margin: 0 50px 20px 50px;
    }
    .stats {
      .stat_item {
        margin: 30px;

        .item_number {
          margin-bottom: 20px;
          font-size: 30px;

        }
        .item_text {
          margin-bottom: 20px;
          font-size: 10px;
        }
      }
    }
  }

  @media (min-width: 400px){
    .title {
      font-size: 30px;
      padding-top: 50px;
      margin: 0 50px 20px 50px;
    }
    .stats {
      .stat_item {
        margin: 30px;

        .item_number {
          margin-bottom: 20px;
          font-size: 55px;

        }
        .item_text {
          margin-bottom: 20px;
          font-size: 15px;
        }
      }
    }
  }

  @media (min-width: 600px){
    .title {
      font-size: 40px;
      padding-top: 50px;
      margin: 0 50px 20px 50px;
    }
    .stats {
      .stat_item {
        margin: 30px;

        .item_number {
          margin-bottom: 20px;
          font-size: 60px;

        }
        .item_text {
          margin-bottom: 20px;
          font-size: 20px;
        }
      }
    }
  }


  @media (min-width: 1000px){
    .title {
      font-size: 50px;
      padding-top: 50px;
      margin: 0 50px 20px 50px;
    }
    .stats {
      .stat_item {
        margin: 30px;

        .item_number {
          margin-bottom: 20px;
          font-size: 70px;

        }
        .item_text {
          margin-bottom: 20px;
          font-size: 25px;
        }
      }
    }
  }


}